.App{
  font-family: Merriweather;
}

#vanta{
  position: absolute;
  display: block;
  min-width: 100%;
  min-height: 100%;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  z-index: -1;
}

.startLoginBtn{
  background-color:#25d366;
  color:#fff;
}
.startSignupBtn{
  background-color:#db3236;
  color:#fff;
}
.shad {
  border-radius: 10px;
  box-shadow: 0px 6px 30px rgba(0, 0, 0, 0.151);
}

.input100{
  border-right-style: none;
  border-top-style: none ;
  border-left-style: none;
}
.input100:focus{
  outline: none;
}

.loginbtn{
  font-size: 20px;
}

.forgotPass{
  color: black;
}

.forgotPass:hover{
  color:black;
}

.blackLinks{
  color: black;
}

.blackLinks:hover{
  color: black;
}